body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.Navbar {
  width: 100vw;
  /* position: absolute; */
  /* top: 0; */
  margin-bottom: 20px;
  background-color: burlywood;
  padding-block: 1px;
}

.Note {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 70vh; */
  /* width: 90vw; */
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: ivory;
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88); 
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88);
}

input, textarea {
  width: 80vw;
  border-radius: 8px;
  border: none;
  font-family: cursive;
  font-size: 2.rem;
}
input{
  padding: 10px;
  font-family: cursive;
  font-weight: 800;
  color: brown;
  text-align: center;
}
textarea {
  font-weight: 400;
  height: 60vh;
  padding: 10px;
  resize: none;
}

.notePreview {
  background-color: ivory;
  padding: 5px;
  width: 80vw;
  text-align: left;
  padding-inline: 10px;
  margin-block: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88); 
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88);
  animation: fadeInBottom 0.5s;
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
.notePreview h3 {
  color: brown;
  margin: 0;
}

.notePreview a {
  text-decoration: none;
  color: black;
}
.dateAndTime {
  /* margin-left: 90%; */
  color: green;
  font-style: italic;
  font-family: cursive;
  font-size: 10px;
}
.imageAndDate {
  display: flex;
  align-items: center;
}

.addNoteButton {
  color: red;
  border-radius: 50%;
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88); 
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.88);
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  width: 10vmax;
  transition: .5s;
}
.addNoteButton:hover, .addNoteButton:active {
  box-shadow: none;
}
.clockAndCalendar {
  width: 1.5vmax;
}
button {
  background: none; 
  /* border: none; */
  border-radius: 10px;
  transition: 0.5s;
}
button:hover {
  border-radius: 50%;
  color: red;
}
.deleteButton {
  transition: 0.5s;
  width: 3vmax;
}
.deleteButton:hover, .deleteButton:active{
  background-color: coral;
  border-radius: 30%;
  box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.88); 
  box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.88);
}

